<!DOCTYPE html>
<html>
  <head>
    <title>Dev Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose mx-auto px-8 py-8">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <hr class="my-8">
    <div>
    <% if user_signed_in?()%>
      <%= link_to("New Blog Post", new_blog_post_path, class:"no-underline my-16 hover:underline" ) %>
      <%#= link_to("Profile", edit_user_registration_path) %>
      <%= button_to("Log out", destroy_user_session_path, method: :delete, class: "bg-gray-100 px-4 py-2 rounded my-4 hover:bg-gray-200") %>
    <% elsif current_page?(root_path) %>
      <%=button_to("Log in", new_user_session_path, class: "bg-gray-100 px-4 py-2 rounded hover:bg-gray-200")%>
      <%#= link_to("Login", new_user_session_path) %>
      <%#= link_to("Sign up", new_user_registration_path) %>
    <% end %>
  </div>
  </body>
</html>
